<div class="container">
  <div class="form-group">
    <input type="file" accept="image/*" #uploadFile id="file" (change)="fileUpload($event)" style="display: none;"
      class="form-control" />
  </div>


  <div class="box">
    <div class="row" id="row1">
      <div id="center" class="col-md-2">
        <i class="fa fa-user-circle" aria-hidden="true"></i>
      </div>
      <div id="center" class="col-md-4">
        Sri Rahul
      </div>
      <div id="center" class="col-md-2"></div>
      <div id="center" class="col-md-2">
        <button id="button1" class="btn btn-secondary" (click)="uploadFile.click()">
          Add
        </button>
      </div>
      <div id="center" class="col-md-2">
        <button id="button1" class="btn btn-secondary" [disabled]="postButton" (click)="post()">
          Post
        </button>
      </div>
    </div>
    <hr style="margin: 0.5;" />
    <div class="row">
      <div class="col-md-12">
        <div *ngFor="let content of imagesCopy; let i = index">
          <img [src]="content.url" id="image" />
          <i style="cursor: pointer;" class="fa fa-minus-circle" aria-hidden="true" (click)="delete(i)"></i>
        </div>
      </div>
      <div class="col-md-12">
        <p id="para" (click)="clear()" contenteditable="true">
          Hey! Something Type Here
        </p>
      </div>
    </div>
  </div>


  
  <div *ngFor="let content of empty1; let i = index" class="box2" >
      <div *ngIf="show">
    <div  class="row" id="row2">
      <div id="logo" class="col-md-2">
        <i class="fa fa-user-circle" aria-hidden="true"></i>
      </div>
      <div id="name" class="col-md-4">
        Sri Rahul
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        <i id="delete" (click)="deleteRow(i)" class="fa fa-trash-o" aria-hidden="true"></i>
      </div>
      <div class="col-md-2"></div>
    </div>
    <hr style="margin: 0.5;" />
    <div class="row">
      <div id="spaceReplace" class="col-md-12">
        {{ spaceReplace }}
      </div>
      <div id="imageCenter" class="col-md-12">
        <div >
          <img [src]="content.url" class="image1" />
        </div>
      </div>
    </div>
    <div class="icon">
      <div (click)="iconChanged()" *ngIf="iconCLicked">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
      </div>
      <div (click)="iconUnchanged()" *ngIf="iconUnClicked">
        <i class="fa fa-heart" aria-hidden="true"></i>
      </div>
      <div>
        <i (click)="comments()" class="fa fa-commenting-o" aria-hidden="true"></i>
      </div>
      <div>
        <i class="fa fa-share-alt" aria-hidden="true"></i>
      </div>
      {{likes}}
    </div>
  </div>
</div>
</div>